<div class="container">
    <h1 class="mt-2  p-2 text-justify text-center">Welcome to Angular @viewChild() Decorator</h1><hr>
    <div class="row">
        <div class="col-sm-6 bg-light border rounded " >
            <h2 #bala>New Container {{userName}}</h2>
            <input ><button>Submit</button>
        </div>
        <div class="col-sm-6 bg-light border rounded">
            <h2>New Container 2</h2>
            <input ><button>Submit</button>
        </div>
        <div class="col-sm-6 bg-light border rounded">
            <h2>New Container 3</h2>
            <input ><button>Submit</button>
        </div>
        <div class="col-sm-6 bg-light border rounded">
            <h2>New Container 4</h2>
            <input ><button>Submit</button>
        </div>
    </div>
</div>
